body {
    line-height: 1.4;
    font-size: 16px;
    padding: 0 10px;
    margin: 50px auto;
    max-width: 650px;
}

#contents {
    max-width: 42em;
    margin: 70px auto 15px;
}

#footnote {
    position: fixed;
    bottom: 8px;
    left: 10px;
    margin: 0;
    font-size: 10px;
}